{:rabbitmq
 {:connection {:host "localhost"
               :port 5672}
  :max-retries 5

  :queues
  {"incoming-service-queue"
   {:type :incoming :exclusive false :durable true :auto-delete false
    :handler-fn service.handlers/handle-incoming}

   "external-service-queue"
   {:type :external :exclusive false :durable true :auto-delete false}

   "incoming-event-queue"
   {:type :incoming-event :exclusive false :durable true :auto-delete false
    :routing-key "some-topic"
    :handler-fn service.handlers/handle-incoming-events}

   "outgoing-event-queue"
   {:type :outgoing-event :exclusive false :durable true :auto-delete false
    :routing-key "some-topic"}

   "incoming-event-queue-redux"
   {:type :incoming-event :exclusive false :durable true :auto-delete false
    :routing-key "some-topic"
    :handler-fn service.handlers/handle-incoming-events-redux}

   } ; queues

  } ; :rabbitmq
 }
